<h1>Listing pages</h1>

<%= link_to 'New page', new_admin_page_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>

<% @pages.ascend_by_position.each do |page| %>
  <tr>
    <td><%=h page.name %></td>
    <td><%=h page.position %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
    <td><%= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_admin_page_path %>
