<h1>Listing pages</h1>

<%= link_to 'New page', new_admin_page_path %>

<ul id="page-list" style="display:table;">
  <li style="display:table-row;">
    <span style="display:table-cell;">Name</span>
  </li>

<% @pages.by_position.each do |page| %>
  <li id="item_<%= page.id %>" style="display:table-row", class="draggable">
    <span style="display:table-cell;cursor:move;" class="dragger"><%=h page.name %></span>
    <span style="display:table-cell;"><%= link_to 'Show', page %></span>
    <span style="display:table-cell;"><%= link_to 'Edit', edit_admin_page_path(page) %></span>
    <span style="display:table-cell;"><%= link_to 'Delete', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %></span>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New page', new_admin_page_path %>

<%= sortable_element 'page-list', :url => sort_admin_pages_path, :handle => :dragger, :only => :draggable, :complete => visual_effect(:highlight, "page-list") %>
