<% content_for :head do %>

  <script type="text/javascript">
    jQuery(document).ready( function($) {
      $(".delete_webcam")
        .bind("ajax:before",  function(event, data, status, xhr) {
          jQuery(event.target).parent('div').find("a img").unwrap('a');
          jQuery(event.target).hide().after('Delete');
        })
        //.bind("ajax:complete", toggleLoading)
        .bind("ajax:success", function(event, data, status, xhr) {
          jQuery(event.target).parent('div').fadeTo(100, .2);
        })
        //.bind("ajax:failure", fail)
        ;
    });
  </script>
  
<% end %>

<h1>Listing webcam images of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<p>
  <%= page_entries_info @webcam_images %>
</p>

<p>
<% date = nil %>
<% @webcam_images.each do |image| %>
  <% if image.date.to_date != date %>
    <% date = image.date.to_date %>
    </p>
    <p>
      <h2>
        <%= image.date.to_date.to_s(:long)%>
        <% day_start = DateTime.new(date.year, date.month, date.day, 0) %>
        <% day_end = DateTime.new(date.year, date.month, date.day, 24) %>
        <% daily_image = WebcamImage.where('date >= ? AND date < ?', day_start, day_end).where(:daily_image => true).first %>
        <% unless daily_image.nil? %>
          <%= image_tag daily_image.attachment.url(:thumb), :size => '55x40' %>
        <% end %>
      </h2>
  <% end %>
  <div class="webcam_thumb">
    <%= form_for [:admin, @project, image] do |f| %>
      <%= f.check_box :daily_image, :onchange => "submit();" %>
      <%= f.label :daily_image, image.date.to_time.strftime("%l:%M")%>
      <%= hidden_field_tag :redirect_to, url_for(:page => params[:page]) %>
    <% end %>
    
    <%= link_to image_tag( image.attachment.url(:thumb), :size => '55x40'), edit_admin_project_webcam_image_path(@project, image) %>
    <%= link_to 'Delete', admin_project_webcam_image_path(@project, image), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_webcam' %>
  </div>
<% end %>
</p>

<%= will_paginate @webcam_images %>

<p>&nbsp;</p>