<% content_for :head do %>

  <script type="text/javascript">
    jQuery(document).ready( function($) {
      $(".delete_webcam")
        .bind("ajax:before",  function(event, data, status, xhr) {
          jQuery(event.target).parent('div').find("a img").unwrap('a');
          jQuery(event.target).hide().after('Delete');
        })
        //.bind("ajax:complete", toggleLoading)
        .bind("ajax:success", function(event, data, status, xhr) {
          jQuery(event.target).parent('div').fadeTo(100, .2);
        })
        //.bind("ajax:failure", fail)
        ;
    });
  </script>
  
<% end %>

<h1>Listing webcam images of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<p>
  <%= page_entries_info @webcam_images %>
</p>

<p>
<% date = nil %>
<% @webcam_images.each do |image| %>
  <% if image.date.to_date != date %>
    <% date = image.date.to_date %>
    </p>
    <p>
      <h2><%= image.date.to_date.to_s(:long)%></h2>
  <% end %>
  <div class="webcam_thumb">
    <%= link_to image_tag( image.attachment.url(:thumb), :size => '55x40'), edit_admin_project_webcam_image_path(@project, image) %>
    <%= link_to 'Delete', admin_project_webcam_image_path(@project, image), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_webcam' %>
  </div>
<% end %>
</p>

<%= will_paginate @webcam_images %>

<p></p>