-content_for :head do
  =javascript_include_tag 'prerender.js'
  
  :javascript
    // init plan js
    jQuery(document).ready(init_plans);
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Video', 'View', '#{ @project.name }/#{ @video.id }']); } );
	
  %title= "#{@project.name} - Videos  (#{ @video.position }) @ Bercy Chen Studio: Architecture + Construction"

  %meta{ :name => "keywords", :content => "video #{ @project.tags.map(&:name).join(' ') } #{ @project.name }" }
  -unless @video.description.empty?
    %meta{ :name => "description", :content => @video.description  }

-content_for :nav_left do
  = render :partial => 'shared/project_show_nav'

= render :partial => 'shared/project_thumbnails'
	
= render :partial => 'video_content'
	
= render :partial => 'shared/project_footer'


