<% content_for :head do %>
  <script type="text/javascript">
    // init plan js
    jQuery(document).ready(init_plans);
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '<%= @project.name %>']); } );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Video', 'View', '<%= @video.id %>']); } );
	</script>
	
	<title><%= @project.name %> - Videos  (<%= @video.position%>) @ Bercy Chen Studio: Architecture + Construction</title>

	<meta name="keywords" content="video <%= @project.tags.map(&:name).join(' ') %> <%= @project.name %>"/>
  <% unless @video.description.empty? %>
	  <meta name="description" content="<%= @video.description %>"/>  
	<% end %>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>
	
<div class="content">
	<div class="media" style='padding-top:4em;padding-bottom:4em;'>
		<center>
		  <% if @object.service == 'youtube' %>
				<object width="<%= object.width %>" height="<%= object.height %>">
					<param name="movie" value="<%= @object.uri %>"></param>
					<embed src="<%= @object.uri %>" type="application/x-shockwave-flash" width="<%= @object.width %>" height="<%= object.height %>"></embed>
				</object>
      <% elsif @object.service == 'vimeo' %>
				<object width="800" height="450">
					<param name="allowfullscreen" value="true" />
					<param name="allowscriptaccess" value="always" />
					<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=<%= @object.vimeo_id %>&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" />
					<embed src="http://vimeo.com/moogaloop.swf?clip_id=<%= @object.vimeo_id %>&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="800" height="450" />
				</object>
			<% end %>
		</center>
	</div>
	
	<div class="media_text">
	  <%= @video.html_description %>
	</div>
</div>
	
<%= render :partial => 'shared/project_footer' %>


