<% content_for :header do %>
	<ul class="nav_left">
	  <li<%= ' class=currentNav' if @tag.nil? %>> <%= link_to t('all'), projects_url %> </li>
    <% @tags.each do |tag| %>
      <li<%=' class=currentNav' if @tag == tag %>> <%= link_to t(tag.name), tag_url(tag) %> </li>
    <% end %>

		<li class="li_spacer"><div>|</div></li>
		<li<%= ' class=currentNav' if params[:by] == 'popularity' %>> <%= link_to t('popular'), url_for( :overwrite_params => { :by => 'popularity' } ) %> </li>
		<li<%= ' class=currentNav' if params[:by] == 'chronology' %>> <%= link_to t('_time'), url_for( :overwrite_params => { :by => 'chronology' } ) %> </li>
	</ul>
<% end %>
