<h1>Editing tag</h1>

<% form_for([:admin, @tag]) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'admin/shared/languages' %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
    or
    <%= link_to 'Delete', admin_tag_path(@tag), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<%= link_to 'Show', @tag %> |
<%= link_to 'Back', admin_tags_path %>