<h1>Listing tags</h1>

<%= link_to 'New tag', new_admin_tag_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @tags.ascend_by_name.each do |tag| %>
  <tr>
    <td><%=h tag.name %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', admin_tag_path(tag), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag', new_admin_tag_path %>