<h1>Editing project</h1>

<%= render :partial => 'admin/shared/project_header' %>
  
<% form_for([:admin, @project]) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'admin/shared/languages' %>
  
  <p>
    <%= f.label :name %> <%= f.text_field :name, :size => 100 %>
    <%= f.label :flickr_id, "'Set' ID on Flickr" %> <%= f.text_field :flickr_id %>
  </p>
  <p>
    <%= f.label :keywords %> (for search engines, space-separated)<br />
    <%= f.text_field :keywords, :size => 100 %>
  </p>
  <p>
    <%= f.label :short %><br />
    <%= f.text_area :short %><br />
    <% unless I18n.locale == :en %>
      English Version: "<%= @project.short(:en) %>"
    <% end %>
  </p>
  <p>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, { :selected => @project.tag_ids }, { :multiple => true, :name => 'project[tag_ids][]', :size => Tag.count } %>
  </p>
  <p>
    <%= f.label :date_completed %><br />
    <%= f.datetime_select :date_completed %>
  </p>
  <p>
    <%= f.check_box :show_map %>
    <%= f.label :show_map %><br />
    <%= f.label :address %><br />
    <%= f.text_field :address %><br />
    <%= f.label :city %><br />
    <%= f.text_field :city %><br />
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :has_webcam %><br />
    <%= f.check_box :has_webcam %>
  </p>
  <p>
    <%= f.label :webcam_current_url %><br />
    <%= f.text_field :webcam_current_url %>
  </p>
  <p>
    <%= f.label :webcam_ftp_dir %><br />
    <%= f.text_field :webcam_ftp_dir %>
  </p>
  <p>
    <%= f.submit 'Update' %>
    or
    <%= link_to 'Delete', admin_project_path(@project), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', admin_projects_path %>
