<h1>Listing projects</h1>

<%= link_to 'New project', new_admin_project_path %>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Priority</th>
  </tr>

<% @projects.ascend_by_name.each do |project| %>
  <tr>
    <td><%= image_tag ( project.thumbnail.nil? ? project.images[0].attachment.url(:thumb) : project.thumbnail.attachment.url(:thumb) ) unless project.images.empty?  %></td>
    <td><%=h project.name %></td>
    <td><%=h project.priority %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
    <td><%= link_to 'Images', admin_project_images_path(project) %></td>
    <td><%= link_to 'Videos', admin_project_videos_path(project) %></td>
    <td><%= link_to 'Plans', admin_project_plans_path(project) %></td>
    <td><%= link_to 'Delete', admin_project_path(project), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_admin_project_path %>
