<% content_for :head do %>
  <%= stylesheet_link_tag 'header', 'page', 'footer', :cache => 'pages_show' %>
  
	<title><%= @page.name %> @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
	<meta name="keywords" content="<%= @page.name %>"/>
<% end %>

<div class="content">
	<h1><%= @page.name %></h1>
	<%= @page.html_content %>
</div>

