<% content_for :head do %>
	<title><%= @page.name %> @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
	<meta name="keywords" content="<%= @page.name %>"/>
<% end %>

<div class="content">
	<h1><%= t( @page.name.downcase ) %></h1>
	<%= raw @page.html_content %>
</div>

