-@project.plans.each do |plan|
  .plan{ :id => "plan_#{ plan.id }" }
    -plan.images.each do |locator|
      .locator{ :id => "locator_#{ locator.id }", :style => "left:#{ locator.plan_x-25 }px;top:#{ locator.plan_y-25 }px;"}
        = link_to ' ', project_image_path(@project, locator), |
          :class => (locator == @image ? 'current_locator' : 'other_locator' ), |
          :current => "#{(@image==locator) ? 1 : 0}", |
          :angle => "#{locator.locator_angle}", |
          :locator => "#{locator.id}", |
          :rel => 'prerender' |

    = image_tag plan.attachment.url(:full)
