.content.webcam_content{:id => "project_#{@project.id}"}
  -images = @project.webcam_images.where(:daily_image => true).reorder("date DESC")
  = stylesheet_link_tag 'jquery-ui'
  = javascript_include_tag 'jquery-ui.min'
  = javascript_include_tag 'jquery.mousewheel.min'

  :javascript
    jQuery(document).ready( init_plans );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'ViewIndex', '#{ @project.name }>']); } );

    jQuery(document).ready( function() {
      function handleSlide(event, ui) {
        offset = #{ images.count } - ui.value;
        jQuery('.image_container img').removeClass('current');
        jQuery('.image_container img:eq('+offset+')').addClass('current');        
      }
    
      jQuery(".slider").slider({
        orientation: "vertical",
        value: #{ images.count },
        min: 0,
        max: #{ images.count },
        step: 1,
        slide: handleSlide,
        change: handleSlide
      });
    
      jQuery('.timeline, .timeline_control').bind('mousewheel', function(event, delta) {
        slider = jQuery(".slider");
        if( delta > 0 ) { slider.slider('value', slider.slider('value')+1 ); }
        else { slider.slider('value', slider.slider('value')-1 ); }
      })
    });

  
  .timeline_control
    %center
      .last_image
        = image_tag images.first.attachment.url(:thumb)
      .slider
      .first_image
        = image_tag images.last.attachment.url(:thumb)

  .media
    %center
      .image_container
        = image_tag (@project.webcam_current_url), :class => 'current timeline'
        =# image_tag @project.webcam_images.last.attachment.url, :class => 'current timeline'
        -images.each do |image|
          = image_tag image.attachment.url, :class => 'timeline'