<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '<%= @project.name %>']); } );
  </script>

	<%= raw GMap.header %>
  <%= raw @map.to_html %>
  
	<title><%= @project.name %> Map @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
	<meta name="keywords" content="<%= @project.tags.map(&:name).join(' ') %> <%= @project.keywords || @project.name %>"/>
	<meta name="description" content="<%= @project.short %>"/>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>

<div class="content">
	<div class="prop">
	  <div class="image_container">
  	  <%= raw @map.div(:width => 800, :height => 600) %>
  	</div>
  	
  	<%= render :partial => 'plans' %>
	</div>
</div>

<%= render :partial => 'shared/project_footer' %>