<% content_for :head do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'project' %>
  <%= stylesheet_link_tag 'footer' %>
  
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'plan' %>
	
	<title><%= @project.name %> @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
	<meta name="keywords" content="${project.name}"/>
	<meta name="description" content="${project.description}"/>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>

<div class="content">
	<div class="prop">
		<div class="image_container">
		  <% if @next and @project.images.count %>
		    <%= link_to image_tag(@project.images[0].attachment.url(:full), :class => 'description_image'), project_image_path(@next)  %>
		  <% else %>
		    <%= image_tag @project.images[0].attachment.url(:full), :class => 'description_image' %>
		  <% end %>

			<div class="bold_link">
				<h1><%= @project.name %></h1>
				<div class="<%= @project.images ? 'description_with_image' : 'description_without_image' %>"><%= @project.html_description %></div>
			</div>
		</div>
	
	  <%= render :partial => 'plans' %>
	</div>
</div>

<%= render :partial => 'shared/project_footer' %>
