-content_for :head do    
  %title
    = @project.name 
    @ Bercy Chen Studio: 
    = t('architecture')
    + 
    = t('construction')
  %meta{ :name => "keywords", :content => "#{ @project.tags.map(&:name).join(' ') } #{ @project.keywords || @project.name }" }
  %meta{ :name => "description", :content => @project.short}

  = render :partial => 'shared/prerender_support'
    
-content_for :nav_left do
  = render :partial => 'shared/project_show_nav'

= render :partial => 'shared/project_thumbnails'

= render :partial => 'project_content'

-content_for :footer do
  = render :partial => 'shared/project_footer'
  
:javascript
  jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
  jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'ViewIndex', '#{ @project.name }>']); } );