-content_for :head do
  =javascript_include_tag 'jquery-html-history.js'
  =javascript_include_tag 'prerender.js'
  
  :javascript
    // init plan js
    jQuery(document).ready( init_plans );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'ViewIndex', '#{ @project.name }>']); } );
    
	
  %title
    = @project.name 
    @ Bercy Chen Studio: 
    = t('architecture')
    + 
    = t('construction')
  %meta{ :name => "keywords", :content => "#{ @project.tags.map(&:name).join(' ') } #{ @project.keywords || @project.name }" }
  %meta{ :name => "description", :content => @project.short}

-content_for :nav_left do
  = render :partial => 'shared/project_show_nav'

= render :partial => 'shared/project_thumbnails'

= render :partial => 'project_content'

= render :partial => 'shared/project_footer'