-content_for :head do 
  
  %title= "#{@project.name} Webcam @ Bercy Chen Studio: #{ t('architecture') } + #{ t('construction')}"

  %meta{ :name => "keywords", :content => "images #{ @project.tags.map(&:name).join(' ') } #{ @project.name }" }
  -if @project.description
    %meta{ :name => "description", :content => @project.description  }

-content_for :nav_left do
  = render :partial => 'shared/project_show_nav'

= render :partial => 'shared/project_thumbnails'

=render :partial => 'webcam_content'

.timeline_control
  %center
    -images = @project.webcam_images.where(:daily_image => true).reorder("date DESC")
    .last_image
      = image_tag images.first.attachment.url(:thumb)
    .slider
    .first_image
      = image_tag images.last.attachment.url(:thumb)
      
-content_for :footer do
  = render :partial => 'shared/project_footer'