<h1>Editing plan of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<%= form_for([:admin, @project, @plan]) do |f| %>
  <%= f.error_messages %>

  <%= image_tag @plan.attachment.url(:original) %>
  
  <%= render :partial => 'admin/shared/languages' %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
    or
    <%= link_to 'Delete', admin_project_plan_path(@project, @plan), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', admin_project_plans_path(@project) %>
