<h1>Listing plans of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Name</th>
    <th>Position</th>
  </tr>

<% @plans.ascend_by_position.each do |plan| %>
  <tr>
    <td><%= image_tag plan.attachment.url(:thumb) %></td>
    <td><%=h plan.name %></td>
    <td><%=h plan.position %></td>
    <td><%= link_to 'Show', project_plan_path(@project, plan) %></td>
    <td><%= link_to 'Edit', edit_admin_project_plan_path(@project, plan) %></td>
    <td><%= link_to 'Destroy', admin_project_plan_path(@project, plan), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Upload New Plan</h2>
<% form_for [:admin,@project,Plan.new], :html => { :multipart => true } do |f| %>
  <%= f.file_field :attachment %>
  <%= f.submit 'Upload' %>
<% end %>
