<h1>Listing plans of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<%= form_for [:admin, @project] do |f| %>
  <ul id="plan-list" style="display:table;">
    <li style="display:table-row;">
      <span style="display:table-cell;">Thumbnail</span>
      <span style="display:table-cell;">Name</span>
    </li>

  <% @plans.by_position.each do |plan| %>
    <li id="item_<%= plan.id %>" style="display:table-row", class="draggable">
      <span style="display:table-cell;" class="dragger"><%= image_tag plan.attachment.url(:thumb) %></span>
      <span style="display:table-cell;" class="dragger"><%=h plan.name %></span>
      <span style="display:table-cell;"><%= link_to 'Show', project_plan_path(@project, plan) %></span>
      <span style="display:table-cell;"><%= link_to 'Edit', edit_admin_project_plan_path(@project, plan) %></span>
      <span style="display:table-cell;"><%= link_to 'Delete', admin_project_plan_path(@project, plan), :confirm => 'Are you sure?', :method => :delete %></span>
    </li>
  <% end %>
  </ul>
<% end %>

<br />

<h2>Upload New Plan</h2>
<%= form_for [:admin,@project,Plan.new], :html => { :multipart => true } do |f| %>
  <%= f.file_field :attachment %>
  <%= f.submit 'Upload' %>
<% end %>
