<h1>Editing webcam_image</h1>

<% form_for(@webcam_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @webcam_image %> |
<%= link_to 'Back', webcam_images_path %>