<h1>Listing webcam_images</h1>

<table>
  <tr>
    <th>Date</th>
  </tr>

<% @webcam_images.each do |webcam_image| %>
  <tr>
    <td><%=h webcam_image.date %></td>
    <td><%= link_to 'Show', webcam_image %></td>
    <td><%= link_to 'Edit', edit_webcam_image_path(webcam_image) %></td>
    <td><%= link_to 'Destroy', webcam_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New webcam_image', new_webcam_image_path %>