<h1>Editing image of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<% form_for([:admin, @project, @image]) do |f| %>
  <%= f.error_messages %>

  <%= image_tag @image.attachment.url(:original) %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :plan_id, 'Plan' %>
    <%= f.select :plan_id, ( [['(none)',nil]] + @project.plans.map {|plan| [plan.name, plan.id]} ) %>

    <%= f.label :plan_x %>
    <%= f.text_field :plan_x %>

    <%= f.label :plan_y %>
    <%= f.text_field :plan_y %>

    <%= f.label :locator_angle %>
    <%= f.text_field :locator_angle %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', project_image_path(@project, @image) %> |
<%= link_to 'Back', admin_project_images_path(@project) %>
