<h1>Editing image of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<% form_for([:admin,@project,@image]) do |f| %>
  <%= f.error_messages %>

  <%= image_tag @image.attachment.url(:original) %>
  
  <p>(Project)</p>
  <p>(Plan)</p>
  <p>(Use as thumbnail)</p>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :plan_x %><br />
    <%= f.text_field :plan_x %>
  </p>
  <p>
    <%= f.label :plan_y %><br />
    <%= f.text_field :plan_y %>
  </p>
  <p>
    <%= f.label :locator_angle %><br />
    <%= f.text_field :locator_angle %>
  </p>
  <p>
    <%= f.label :sync_flickr %><br />
    <%= f.check_box :sync_flickr %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', project_image_path(@project, @image) %> |
<%= link_to 'Back', admin_project_images_path(@project) %>
