<h1>Editing image of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<% unless @image.higher_item.nil? %>
  <%= link_to "Previous Image", edit_admin_project_image_path(@project, @image.higher_item) %>
<% end %>

<% unless @image.lower_item.nil? %>
  <%= link_to "Next Image", edit_admin_project_image_path(@project, @image.lower_item) %>
<% end %>

<% form_for([:admin, @project, @image]) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'admin/shared/languages' %>
  
  <p>
    <%= f.label :name %> <%= f.text_field :name %>
    <%= f.label :flickr_id, 'Flickr ID (ex: 4601892842)' %> <%= f.text_field :flickr_id %>
    <% unless @image.flickr_id.blank? %>
      <%= f.label :sync_flickr, 'Push to Flickr on save' %> <%= f.check_box :sync_flickr %>
      <% link_to pull_flickr_admin_project_image_path(@project, @image) do %>
        <button>Pull title & description from Flickr</button>
      <% end %>
    <% end %>
  </p>
  
  <%= image_tag @image.attachment.url(:full) %>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :plan_id, 'Plan' %>
    <%= f.select :plan_id, ( [['(none)',nil]] + @project.plans.map {|plan| [plan.name, plan.id]} ) %>

    <%= f.label :plan_x %>
    <%= f.text_field :plan_x %>

    <%= f.label :plan_y %>
    <%= f.text_field :plan_y %>

    <%= f.label :locator_angle %>
    <%= f.text_field :locator_angle %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
    or
    <%= link_to 'Delete', admin_project_image_path(@project,@image), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<%= link_to 'Show', project_image_path(@project, @image) %> |
<%= link_to 'Back', admin_project_images_path(@project) %>
