<h1>Listing images of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<p>(Order)</p>

<% form_for [:admin, @project] do |f| %>
  <%= hidden_field_tag :return_to, admin_project_images_path(@project) %>
  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Position</th>
      <th>Thumbnail</th>
      <th>Sync flickr</th>
    </tr>

  <% @images.ascend_by_position.each do |image| %>
    <tr>
      <td><%= image_tag image.attachment.url(:thumb) %></td>
      <td><%=h image.name %></td>
      <td><%=h image.position %></td>
      <td><%= f.radio_button :thumbnail_id, image.id, :onchange => "submit();" %></td>
      <td><%= image.sync_flickr ? 'Yes' : nil %></td>
      <td><%= link_to 'Show', project_image_path(@project,image) %></td>
      <td><%= link_to 'Edit', edit_admin_project_image_path(@project,image) %></td>
      <td><%= link_to 'Delete', admin_project_image_path(@project,image), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br />

<p>Upload New Image</p>
<% form_for [:admin,@project,Image.new], :html => { :multipart => true } do |f| %>
  <%= f.file_field :attachment %>
  <%= f.submit 'Upload' %>
<% end %>
