<h1>Listing images of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<% form_for [:admin, @project] do |f| %>
  <%= hidden_field_tag :return_to, admin_project_images_path(@project) %>
  
  <ul id="image-list" style="display:table;">
    <li style="display:table-row;">
      <span style="display:table-cell;">Image</span>
      <span style="display:table-cell;">Name</span>
      <span style="display:table-cell;">Thumbnail</span>
    </li>

  <% @images.ascend_by_position.each do |image| %>
    <li id="item_<%= image.id %>" style="display:table-row", class="draggable">
      <span style="display:table-cell;" class="dragger"><%= image_tag image.attachment.url(:thumb), :style => 'cursor:move;' %></span>
      <span style="display:table-cell;" class="dragger"><%=h image.name %></span>
      <span style="display:table-cell;"><%= f.radio_button :thumbnail_id, image.id, :onchange => "submit();" %></span>
      <span style="display:table-cell;"><%= link_to 'Show', project_image_path(@project,image) %></span>
      <span style="display:table-cell;"><%= link_to 'Edit', edit_admin_project_image_path(@project,image) %></span>
      <span style="display:table-cell;"><%= link_to 'Delete', admin_project_image_path(@project,image), :confirm => 'Are you sure?', :method => :delete %></span>
    </li>
  <% end %>
  </ul>
<% end %>

<br />

<p>Upload New Image</p>
<% form_for [:admin,@project,Image.new], :html => { :multipart => true } do |f| %>
  <%= f.file_field :attachment %>
  <%= f.submit 'Upload' %>
<% end %>

<%= sortable_element 'image-list', :url => {:action => "sort", :id => @project}, :handle => :dragger, :only => :draggable, :complete => visual_effect(:highlight, "image-list") %>
