<h1>Listing videos of project <%=link_to @project.name, edit_admin_project_path(@project) %></h1>

<%= render :partial => 'admin/shared/project_header' %>

<table>
  <tr>
    <th>Thumb</th>
    <th>Name</th>
    <th>Position</th>
    <th>Description</th>
    <th>Width</th>
    <th>Height</th>
  </tr>

<% @videos.ascend_by_position.each do |video| %>
  <tr>
    <td><%= image_tag video.thumbnail.url(:thumb) %></td>
    <td><%=h video.name %></td>
    <td><%=h video.position %></td>
    <td><%=h video.description %></td>
    <td><%=h video.width %></td>
    <td><%=h video.height %></td>
    <td><%= link_to 'Show', project_video_path(@project, video) %></td>
    <td><%= link_to 'Edit', edit_admin_project_video_path(@project, video) %></td>
    <td><%= link_to 'Destroy', admin_project_video_path(@project,video), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Upload New Video</h2>
<% form_for [:admin,@project,Video.new] do |f| %>
  <p>
    <%= f.label :uri, 'Video URL' %><br />
    <%= f.text_field :uri %>
  </p>
<% end %>
