<% content_for :head do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'project' %>
  <%= stylesheet_link_tag 'footer' %>
	
	<title><%= @project.name %> @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
	<meta name="keywords" content="${project.name}"/>
	<meta name="description" content="${project.description}"/>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>

<div class="content">
	<div class="prop">
		<%= image_tag @plan.attachment.url(:full) %>
	</div>
</div>

<%= render :partial => 'shared/project_footer' %>


