.content.image_content{:id => "image_#{@image.id}"}
  :javascript
    // init plan js
    jQuery(document).ready(init_plans);
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
    jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Images', 'View', '#{ @project.name }/#{ @image.id }']); } );

  .media
    %center
      .image_container
        -if @next and @next.class.name == 'Image'
          =link_to image_tag( @image.attachment.url(:full) ), project_image_url(@project,@next), {:rel => 'prerender'}
        -else
          =image_tag( @image.attachment.url(:full) )
          
      =render :partial => 'projects/plans'

  .media_text.bold_link
    = raw @image.html_description