<h1>Editing image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :plan_x %><br />
    <%= f.text_field :plan_x %>
  </p>
  <p>
    <%= f.label :plan_y %><br />
    <%= f.text_field :plan_y %>
  </p>
  <p>
    <%= f.label :locator_angle %><br />
    <%= f.text_field :locator_angle %>
  </p>
  <p>
    <%= f.label :sync_flickr %><br />
    <%= f.check_box :sync_flickr %>
  </p>
  <p>
    <%= f.label :flickr_id %><br />
    <%= f.text_field :flickr_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>