-content_for :head do 
  %title= "#{ @project.name } - #{ t('images') } (#{ @image.position }) @ Bercy Chen Studio: #{ t('architecture') } + #{ t('construction') }"

  %meta{ :name => "keywords", :content => "images #{ @project.tags.map(&:name).join(' ') } #{ @project.name }"}
  -if @image.description
    %meta{ :name => "description", :content => @image.description }  

-content_for :nav_left do
  =render :partial => 'shared/project_show_nav'
      
=render :partial => 'shared/project_thumbnails'

.slide_window
  =render :partial => 'image_content'

-content_for :footer do
  = render :partial => 'shared/project_footer'

=javascript_include_tag 'jquery-html-history.js'
=javascript_include_tag 'prerender.js'
