-content_for :head do 
  %title= "#{ @project.name } - #{ t('images') } (#{ @image.position }) @ Bercy Chen Studio: #{ t('architecture') } + #{ t('construction') }"

  %meta{ :name => "keywords", :content => "images #{ @project.tags.map(&:name).join(' ') } #{ @project.name }"}
  -if @image.description
    %meta{ :name => "description", :content => @image.description }  
    
  = render :partial => 'shared/prerender_support'
    
-content_for :nav_left do
  =render :partial => 'shared/project_show_nav'
      
=render :partial => 'shared/project_thumbnails'

=render :partial => 'image_content'

-content_for :footer do
  = render :partial => 'shared/project_footer'


:javascript
  jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Projects', 'View', '#{ @project.name }']); } );
  jQuery(document).ready( function() { _gaq.push(['_trackEvent', 'Image', 'View', '#{ @project.name }/#{ @image.id }']); } );