<% content_for :head do %>
  <%= stylesheet_link_tag 'header', 'project', 'project_images', 'footer', :cache => 'images_show' %>
  
  <%= javascript_include_tag 'raphael-min', 'plan', :cache => 'images_show' %>

  <title><%= @project.name %> - <%= t('images') %> (<%= @image.position %>) @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>

	<meta name="keywords" content="images <%= @project.tags.map(&:name).join(' ') %> <%= @project.name %>"/>
  <% if @image.description %>
	  <meta name="description" content="<%= @image.description %>"/>  
	<% end %>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>

<% cache do %>
  <div class="content">
  	<div class="media">
  		<center>
  			<div class="image_container">
    		  <% if @next and @next.class.name == 'Image' %>
    		    <%= link_to image_tag( @image.attachment.url(:full) ), project_image_path(@project,@next)  %>
    		  <% else %>
    		    <%= image_tag( @image.attachment.url(:full) ) %>
    		  <% end %>
  			</div>
		
  			<%= render :partial => 'projects/plans'%>
  		</center>
  	</div>
  	<div class="media_text bold_link">
  	  <%= @image.html_description %>
  	</div>
  </div>

  <%= render :partial => 'shared/project_footer' %>
<% end %>
