<% content_for :head do %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'project' %>
  <%= stylesheet_link_tag 'project_images' %>
  <%= stylesheet_link_tag 'footer' %>
  
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'plan' %>

  <title><%= @project.name %> - <%= t('images') %> (<%= @image.position %>) @ Bercy Chen Studio: <%= t('architecture') %> + <%= t('construction') %></title>
  <meta name="keywords" content="${project.name}"/>
  <meta py:if="object.description" name="description" content="${object.description}"/>
  <meta py:if="not object.description" name="description" content="${project.description}"/>
<% end %>

<% content_for :nav_left do %>
  <%= render :partial => 'shared/project_show_nav' %>
<% end %>

<%= render :partial => 'shared/project_thumbnails' %>

<div class="content">
	<div class="media">
		<center>
			<div class="image_container">
			  <%= image_tag @image.attachment.url(:full) %>
			  <%# if @object && !(large && @object.uri_large) %>
			    <%#= image_tag @object.attachment.fullsize %>
			  <%# elsif @object && (large && @object.uri_large ) %>
			    <%#= image_tag @object.attachment.original %>
			  <%# end %>
			</div>
		
			<%= render :partial => 'projects/plans'%>
		</center>
	</div>
	<div class="media_text bold_link">
	  <%= @image.html_description %>
	</div>
</div>

<%= render :partial => 'shared/project_footer' %>
