<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
      
      <%= stylesheet_link_tag 'css-bcstudio' %>
      
      <%= javascript_include_tag 'jquery.min' %>
      <%= javascript_include_tag 'scriptaculous/prototype' %>
      <%= javascript_include_tag 'scriptaculous/effects' %>
      <%= javascript_include_tag 'crossfade' %>
      <%= javascript_include_tag 'mouseover_script' %>
      <%= javascript_include_tag 'nav_script.js' %>

	
    	<script py:if="not 'bercychen' in request.url" type="text/javascript">
    	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script py:if="not 'bercychen' in request.url" type="text/javascript">
    	try {
    	var pageTracker = _gat._getTracker("UA-8533404-1");
    	pageTracker._trackPageview();
    	} catch(err) {}</script>
    	<script py:if="'bercychen' in request.url" type="text/javascript">
    	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script py:if="'bercychen' in request.url" type="text/javascript">
    	try {
    	var pageTracker = _gat._getTracker("UA-8533404-4");
    	pageTracker._trackPageview();
    	} catch(err) {}</script>
      
      <%= yield :head %>
  </head>
  
  <body bgcolor="#666666" text="#FFFFFF" link="#FF0000" vlink="#FF0000" alink="#FF0000">
    <%= flash[:notice] %>
  	
  	<%= yield %>
  </body>
</html>
