<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta name="google-site-verification" content="wEPRzHQ11HyXXvhk4pkCHixLIYIuD7gcT2NnnIZPWgw" />
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
      
      <%= stylesheet_link_tag 'css-bcstudio', 'header', 'work', 'project', 'project_images', 'page', 'footer' %>      
      
      <%= javascript_include_tag 'jquery.min' %>
      <%= javascript_include_tag 'prototype' %>
      <%= javascript_include_tag 'scriptaculous/effects' %>
      <%= javascript_include_tag 'raphael-min' %>
      
      <%= javascript_include_tag 'mouseover_script', 'plan', 'work', 'google_tracking' %>
      
    	<script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8533404-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
      
      <%= yield :head %>
  </head>
  
  <body bgcolor="#666666" text="#FFFFFF" link="#FF0000" vlink="#FF0000" alink="#FF0000">
    <% unless request.compatible_language_from( [I18n.locale] ) %>
      <% locale = request.compatible_language_from( I18n.available_locales ) %>
      <% if locale %>
      	<div id='language_switcher'>
      	  <%= link_to lang( locale ).downcase, url_for(:locale => locale.to_s) %>
      	</div>     
      <% end %> 
    <% end %>

  	
    <div class="container">
      <div class="header" >
	      <div class="link_home">
	        <% link_to '/' do %>
	          <%= image_tag('logo_01.jpg', :alt => 'Bercy Chen Studio', :size => '435x42', :fadeover => image_path('logo_01_over.jpg') ) %>
            <br />
            <%#= image_tag('logo_02.gif', :alt => 'design + construction', :size => '245x14') %>
          <% end %>
	      </div>
	      <div class="section_links">
	      
	        <%= yield :nav_left %>
	        
		      <ul class="nav_right">
		        <li><%= link_to t('work').downcase, projects_path %></li>
		        <% Page.all.each do |page| %>
		          <li><%= link_to page.name.downcase, page_path(page) %> </li>
            <% end %>
			      <li><%= link_to t('news').downcase, "http://blog.bcarc.com/category/news/" %></li>
			      <li><%= link_to t('blog').downcase, "http://blog.bcarc.com" %></li>
		      </ul>
	      </div>
      </div>

      <%= flash[:notice] %>
    	
    	<%= yield %>
    	
      <div class="footer">
	      <div class="credits footer">
		      <p><strong>Austin</strong> | 1111 E. 11th Street Suite 200  : Austin Texas 78702 : United States of America | +1 512 481 0092</p>
		      <p><strong>Los Angeles</strong> | 1545 Wilcox Avenue Suite 107 : Los Angeles California 90028 : United States of America | +1 512 481 0092</p>
		      <p><strong>Asia Pacific</strong> | 7F-1, 333 Chung Hsiao E. Rd. Sec. 4 : Taipei Taiwan : Republic of China | +886 2 2775 5320</p>
		      <p><a href="mailto:info@bcarc.com">info@bcarc.com</a> | <%= t('copyright') %> | <%= link_to t('subscribe'), "http://eepurl.com/cs8F" %> <%= t('to_our_newsletter').downcase %></p>
	      </div>
      </div>
  	</div>
  </body>
</html>
